.video-box-container{
    /* border: 2px solid #000; */
    background-color:  #f4f4f4;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap:wrap ;    
    overflow-y: scroll;
}